<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <script src="https://kit.fontawesome.com/9c1f0497c6.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header  class="header_home" >

<div><section class="home-logo-busqueda"><a href="/"><img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo" height="200" width="200"> </a> 
<!--   <section  align="top" class="busqueda"> <nav class="busqueda">Buscar productos</nav></section> --></section> 
  <section class="busqueda"> <form action="/busqueda" method="get"><input class="busqueda"  type="text" placeholder="buscar"></form>
<i class="fa-solid fa-magnifying-glass home_busqueda2" ></i></section>
<!-- <br> --><!-- <br> -->
  <p  class="compra-cuotas">
    <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito!!
  </p>
<!-- <br> --></div>
  <nav class="home_nav_cuerpos" ><!-- <i class="fa-solid fa-bars fa-beat-fade fa-2xl"></i> -->
<ul type="none"  class="home_header_texto home_cuerpos_texto1">
    <li><a href="#"> Ofertas</a></li>
    <li><a href="#"> Tiendas Oficiales</a></li>
    <li><a href="#"> Vender</a></li>
    <li><a href="#"> Ayuda</a></li>
    <!-- <br> --></ul> 
    <ul class="home_header_texto home_cuerpos_texto2">
    <li><a href="/register"> Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li>
    <li><a href="/login"> Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
    <li><a href="#"> Mis compras <i class="fas fa-shopping-cart"></i></a></li>
</ul>
    
    


<br>
</nav>

<article class="home-menu-hamburguesa">
    <i class="fa-solid fa-bars fa-sm" style="color: #ffffff;"></i> </article>

<br>

<br>
    </header>

    <main class="main_home"> <section><img class="home_banner" src="images/img-home-banner.jpg" alt="banner" width="1333"></section>
        <h4 class = "home_titulares"><strong>Basado en tu ultima visita</strong></h4>
        <section class="home-main-section home-main-section1" >
       
        <article class="home_productos" >
            
            <img class="home_producto" src="images/img-cafetera-moulinex.jpg" alt="cafetera">
           <i class="fa-solid fa-truck-fast" style="color: #39b54a;"></i>
        <div> <p class="home_precios">
            $6.770</p> <br>
            <br>
           <p class="home_descuentos"> 40% off</p> <br>
            <br></div>
            <p class="home_descripciones home_producto home_titulo_producto">
           <strong> Cafetera Moulinex </strong>
         </p>

        </article >
        <article class="home_productos ">
            <img class="home_producto" src="images/img-macbook-pro-2019.jpg" alt="MacBook">
           <div><p class="home_precios">
                $230.000 </p><br>
                <br>
               <p class="home_descuentos"> 20% off</p> <br>
                <br></div> 
               <p class="home_descripciones home_producto home_titulo_producto"> <strong>MacBook Pro 2019 </strong>
            </p>
        </article>
       <article class="home_productos " >
            <img class="home_producto" src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
           <div> <p class="home_precios">
                $70.500 <br> </p>
                <br>
                <p class="home_descuentos">
                10% off</p> <br>
                <br></div>
               <p class="home_descripciones home_producto home_titulo_producto">  <strong>Samsung Galaxy S10</strong>
            </p>
        </article>
        <article class="home_productos ">
            <img class="home_producto" src="images/img-tv-samsung-smart.jpg" alt="tv smart">
            <i class="fa-solid fa-truck-fast" style="color: #39b54a;"></i>
           <div> <p class="home_precios">
                $23.200 <br> </p>
                <br>
                <p class="home_descuentos">
                5% off </p><br>
                <br></div>
                <p class="home_descripciones home_producto home_titulo_producto">
                <strong>SmartTv Samsung 43"</strong>
            </p>
        </article>
    </section><h4 class = "home_titulares"><strong>Ofertas</strong></h4>
    <section class="home-main-section home-main-section2">
        
       <article  class="home_productos ">
            <img class="home_producto" src="images/img-cafetera-moulinex.jpg" alt="cafetera">
           <i class="fa-solid fa-truck-fast" style="color: #39b54a;"></i>
        <div> <p class="home_precios">
            $6.770</p> <br>
            <br>
           <p class="home_descuentos"> 40% off</p> <br>
            <br></div>
            <p  class="home_descripciones home_producto home_titulo_producto">
           <strong> Cafetera Moulinex </strong>
         </p>

        </article >
        <article class="home_productos ">
            <img class="home_producto" src="images/img-macbook-pro-2019.jpg" alt="MacBook">
           <div> <p class="home_precios">
                $230.000 </p><br>
                <br>
               <p class="home_descuentos"> 20% off</p> <br>
                <br></div>
               <p class="home_descripciones home_producto home_titulo_producto"> <strong>MacBook Pro 2019 </strong>
            </p>
        </article>
       <article class="home_productos" >
            <img class="home_producto" src="images/img-samsung-galaxy-s10.jpg" alt="samsung galaxy">
           <div> <p class="home_precios">
                $70.500 <br> </p>
                <br>
                <p class="home_descuentos">
                10% off</p> <br>
                <br></div>
               <p class="home_descripciones home_producto home_titulo_producto">  <strong>Samsung Galaxy S10</strong>
            </p>
        </article>
        <article class="home_productos">
            <img class="home_producto" src="images/img-tv-samsung-smart.jpg" alt="tv smart">
          
          <i class="fa-solid fa-truck-fast" style="color: #39b54a;"></i>
             <div> <p class="home_precios">
                $23.200 <br> </p>
                <br>
                <p class="home_descuentos">
                5% off </p><br>
                <br></div>
                <p class="home_descripciones home_producto home_titulo_producto">
                <strong>SmartTv Samsung 43"</strong>
            </p>
        </article>
        
    </section>
    </main>

    <footer class="footer_home">

        <section class="home_descripciones home_descripciones2" >
            <article class="home_tarjeta">
                <i class="fa-solid fa-credit-card fa-2xl" ></i>
              <p><strong>● Pagá con tarjeta o en efectivo</strong> <br>
                Con Mercado Liebre Cash, tenés cuotas sin <br>
                 interés con tarjeta o efectivo en
                puntos de <br>
                 pago. ¡Y siempre es seguro!</p>  
            </article>
           <!--  <br> -->
            <article class="home_envios">
                <i class="fa-solid fa-gift fa-2xl" ></i>
               <p> <strong>● Envío gratis desde $ 2.500 </strong><br>
Solo por estar registrad@ en Mercado Liebre <br>
 tenés envíos gratis en miles de
productos. Es <br>
 un beneficio de Mercado Puntos.</p>
            </article>
           <!--  <br> -->
            <article class="home_protegido">
                <i class="fa-solid fa-user-shield fa-2xl" ></i>
                <p><strong>● Seguridad, de principio a fin</strong> <br>
¿No te gusta? ¡Devolvelo! En Mercado Liebre, <br>
 no hay nada que no puedas hacer,
porque <br>
 estás siempre protegid@.</p>
            </article>
           <!--  <br> -->
            
        </section><article>


               <p class="home_copyright" > ● Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </article>
    </footer>

</body>
</html>