
.home_producto{
    height: 100%;
    width: 100%;
}
.home_banner{
    height: 100%;
    width: 100%;
}

.main_home{
    background-color: var(--Gris-claro);
    width:100%;
    margin: 0px auto;
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.home_productos{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border-top: 1px #ebebeb solid;
    padding:15px;
    position: relative;
}
.home_productos div{
    display: flex;
    flex-direction: row;
}
:root{
    --Amarillo: #EAC926;
 --Azul: #03264C;
--Celeste: #1259c3;
--Gris-oscuro: #666;
--Gris-claro: #ebebeb;
--Verde: #39b54a; 
}
*{
    font-family: 'Roboto', sans-serif;;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.home_titulares{
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: var(--Gris-oscuro);
    text-align: center; 
}
.home_precios{
    font-size: 18px;
    margin-left: 12px;

}

.home_descripciones i{
  
    height: 2em;
    width: 2em;

}
.home_producto{
    margin-bottom: 10px;
    
}
.home_descuentos{
    font-size: 16px;
    margin-left: 12px;
    color: var(--Verde);
}
.home_descripciones{
    margin-top: 100px;
    font-size: 16px;
    background-position: center center;
    text-align: center;
    margin: 0px auto;
}

a{
    text-decoration: none;
    color: #000;
}

.home-main-section{
    width: 100%; 
    margin:0px auto;
}

.home_titulo_producto{
    margin-bottom: 10px;
    margin-left: 10px;
}

.home_descripciones article i{
   margin-top: 35px; 
   color: var(--Celeste);
}


.fa-solid.fa-truck-fast{
 margin-bottom: 20px;
    display: block;
font-size: 16px;
padding: 5px;
width: 30px;
height: 30px;
border: 1px solid #39b54a;
background-color: #FFF;
border-radius: 50%;
position: absolute; 
right: 0px;
left:80%;
top: 75%;
}

.home_descripciones i {
    margin-bottom: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

 body{
    height: 100vh;
    width: 100vw;
 }
 .home_titulo_producto{
    display:none;
 }
 .home_productos img{
    border-bottom: 1px grey solid;
 }
 
@media(max-width:320px){
 .home_titulo_producto{
    display:none;
 }
 .home_productos img{
    border-bottom: 1px grey solid;
 }

}

@media(min-width:768px){
     
    h4{ 
        font-size:50px
    }
    .home_titulo_producto{
        font-size: 20px;
    }
   .home_titulares{
    font-size:23px;
   }
   .home_descripciones2{
    font-size: 16px;
   }
   .home_productos{
/*     height:50%;
    width: 50%;
    margin: 0px auto; */
   }
   .home_productos{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
 }
 .home_productos img{
    border-bottom: 1px grey solid;
 }


   .home-main-section{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    
   }

   .home-main-section2{

    margin-top: 20px;
    padding-bottom: 20px;
   }
   .home-main-section1{

    margin-top: 20px;
    margin-bottom: 20px;
    
   }
   .fa-solid.fa-truck-fast{
  margin-bottom: 20px;
        display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute; 
    right: 0px;
    left:80%;
    top:80%;
    }
  

       .home_productos{
        display: flex;
       width: 500px;
        } 
        .home-main-section div{
            display: flex;
            gap:20px
        }
}

@media(min-width:1024px){
    h4{
        font-size:50px
    }
    .home_titulo_producto{
        font-size: 25px;
    }
   .home_titulares{
    font-size:30px;
   }
   .home_descripciones2{
    font-size: 17px;
   }
   .home_productos{
    height:100%;
    width: 100%;
    margin: 0px auto;
   }

   .home_productos{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
 }

 .home-main-section{
    display: flex;
    flex-direction: row;
    gap:20px;
   }
   .home-main-section h4{
    display: block;
   }
   .home-main-section2{
    margin-top: 20px;
    padding-bottom: 20px;
   }
   .home-main-section1{
    margin-top: 20px;
    margin-bottom: 20px;
    
   }
   .fa-solid.fa-truck-fast{
  margin-bottom: 20px;
        display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute; 
    right: 0px;
    left:77%;
    top: 73%;
    }

    .home-main-section div{
        display: flex;
    }
  

}
@media(min-width:1439px){
    .fa-solid.fa-truck-fast{
     margin-bottom: 20px;
            display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute; 
        right: 0px;
        left:190px;
        top: -30px;
        }
}